<%= csrf_meta_tags %>
<div data-controller="map"
     class="map-container"
     data-map-playlists-value="<%= @playlists.to_json %>"
     data-map-user-location-value="<%= @user_location.to_json %>">
  
  <div class="map-wrapper">
    <div id="map" style="height:600px;"></div>
  </div>
  
  <div class="location-info">
    <h3>位置情報</h3>
    <div data-map-target="locationDisplay" id="location-display">
      <% if @user_location && @user_location[:latitude].present? && @user_location[:longitude].present? %>
        <div class="address">
          <strong>現在地:</strong><br>
          <%= @user_location[:address] %>
        </div>
      <% else %>
        <div class="loading">
          <div class="spinner"></div>
          <p>位置情報を取得中...</p>
        </div>
      <% end %>
    </div>

    <button data-map-target="updateButton" 
            data-action="click->map#updateLocation" 
            class="update-button">位置を更新</button>
    
    <% if @playlists.any? %>
      <div class="playlist-section">
        <h3>プレイリストを保存</h3>
        <select id="playlist-select" class="playlist-dropdown">
          <option value="">プレイリストを選択してください</option>
          <% @playlists.each do |playlist| %>
            <option value="<%= playlist[:uri] %>" data-name="<%= playlist[:name] %>">
              <%= playlist[:name] %>
            </option>
          <% end %>
        </select>
        <button data-action="click->map#saveSelectedPlaylist"
                class="save-playlist-button" disabled>
          選択したプレイリストを保存
        </button>
      </div>
    <% else %>
      <div class="warning-message">
        <%= flash[:warning] || "プレイリストがありません" %>
      </div>
    <% end %>

    <div data-map-target="statusMessage" id="statusMessage"></div>
  </div>
</div>